build
dist
private
release
one-jar
target
*~
*.bak*
*.log
*.bz2
*.gz
*.xz
*.zip
*.nbm
*.jar
*.war
*.*swp*
*.orig
*.rrd
*.iml
*.tdump
*.nps
*.patch
*.csv
/.gradle/
/.idea/
/liquibase-*
/adition-restservice/.glassfish.properties
.passwd
/.project
